name: cielo_oauth
description: A Flutter package that helps to get oauth token to use on operations available on API REST of API Cielo eCommerce.
version: 1.1.0
homepage: https://github.com/developercielo/cielo-ecommerce-oauth-dart

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.12.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: